<div class="container">
    <div class="row mb-4">
        <div class="col">
            <ShopAreaComponent Source="mens_outerwear" Description="Men's Outerwear"></ShopAreaComponent>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col">
            <ShopAreaComponent Source="ladies_outerwear" Description="Ladies Outerwear"></ShopAreaComponent>
        </div>
    </div>
    <div class="row">
        <div class="col pr-0">
            <ShopAreaComponent Source="mens_tshirts" Description="Men's Outerwear" CardBodyClass="card-body pr-0"></ShopAreaComponent>
        </div>
        <div class="col pl-0">
            <ShopAreaComponent Source="ladies_tshirts" Description="Ladies T-Shirts" CardBodyClass="card-body pl-0"></ShopAreaComponent>
        </div>
    </div>
</div>