@using Microsoft.AspNetCore.Blazor.Components
<select class="form-control" bind="@Month">
    <option value="jan">Jan</option>
    <option value="feb">Feb</option>
    <option value="mar">Mar</option>
    <option value="apr">Apr</option>
    <option value="may">May</option>
    <option value="jun">Jun</option>
    <option value="jul">Jul</option>
    <option value="aug">Aug</option>
    <option value="sep">Sep</option>
    <option value="oct">Oct</option>
    <option value="nov">Nov</option>
    <option value="dec">Dec</option>
</select>


@functions
{
[Parameter]
protected string Month { get; set; }
}