@using Microsoft.AspNetCore.Blazor.Components
<select class="form-control" id="year" bind="@Year">
    <option value="2018">2018</option>
    <option value="2019">2019</option>
    <option value="2020">2020</option>
    <option value="2021">2021</option>
    <option value="2022">2022</option>
</select>


@functions
{
    [Parameter]
    protected int Year { get; set; }
}
